.Pagination {
    display: flex;
    flex-flow: wrap;
    text-align: center;

}

.NumberButton{
    font-size: small;
    margin-left:2px ;
    cursor: pointer;
}

.NumberButton::after {
    content: " | ";
}

.Slider {
    display: flex;
    margin: 0 auto;
    font-size: larger;
}
.LeftArrow {
    cursor: pointer;
    padding: 0 20px;
}
.RightArrow {
    cursor: pointer;
    padding: 0 20px;

}