.NewsController {
    
}
.NewsController .ItemsToDisplayInPage{
    margin: 0 19vw;
    

}
.Pagination2 {
    position: absolute;
    bottom: 0;
}

@media(max-width:500px){
    .NewsController .ItemsToDisplayInPage{
        margin:20vw 4.5vw;
    }
    .Loader {
        top: 100px;
    }
}